<% include partials/header %>

<h1> <%= currentUser %>  </h1>

<div id="container">
    <h1>TODO: <i class="fas fa-plus"></i></h1>
    <input type="text">
    <ul id="data">
        <%  if(currentUser && currentUser.todos.length > 0){ %>
        <% for(var i = 0; i < currentUser.todos.length; i++){ %>
        <li class="<%if (currentUser.checkedtodos[i]) {%>crossed<%}%>"><span class="xx"><i class="far fa-trash-alt"></i></span><%= currentUser.todos[i] %></li>
        <% }%>
        <% } else { %>
        <li><span class="xx"><i class="far fa-trash-alt"></i></span> A</li>
        <li><span class="xx"><i class="far fa-trash-alt"></i></span> B</li>
        <li><span class="xx"><i class="far fa-trash-alt"></i></span> C</li>
        <% } %>
    </ul>
</div>

<% include partials/footer %>