<% include partials/testheader %>


<button class="btn btn-success">fwefwefwef</button>

<div id="particles-js" style="width: 500px"></div>

<script src="https://cdn.jsdelivr.net/npm/particle-api-js@7.0.1/lib/Particle.min.js"></script>
<script>
    particlesJS.load('particles-js', 'assets/particles.json', function() {
        console.log('callback - particles-js config loaded');
    });
</script>


<% include partials/footer %>